#usersManagement .text-align-center-videoclub{
    text-align: center;
}

#usersManagement .btn-new-user{
    width: 190px;
}

#usersManagement .icon-margin-right-btn{
    margin-right: 5px;
}

#usersManagement .align-btn-close-panel{
    text-align: center;
}